<html>
    <head>
        <title>8 de septiembre</title>
    </head>

    <body>
        <div class="hola">
            se casan
        </div>
        <div class="foto">
            Celi
        </div>
        <div>
           <img src="https://yt3.ggpht.com/a-/AJLlDp1lAH8-HJSEkrkiErw3rLN_8dMpFwXkCZiXjA=s900-mo-c-c0xffffffff-rj-k-no"style="width: 50%; margin: auto;">
        </div>
        <div class="foto">
            Fede
        </div>

        <span>
            I'm a span
        </span>
        <span>
            I'm a second span
        </span>

        <h1 class=''id="ciaoOrhola">Ciao</h1>
        <h2>Ciao</h2>
        <h3>Ciao</h3>
        <h4>Ciao</h4>
        <h5>Ciao</h5>
        <p>Soy flaminia</p>
        <div style="margin-bottom: 20px; margin: auto; border: 3px solid green; width: 50%; ">
            <img src="https://i.ytimg.com/vi/SfLV8hD7zX4/maxresdefault.jpg" style="width: 50%; margin: auto; ">
        </div>
        <div>
            <img src="static/me.jpg">
        </div>
        <a href="/emer">AQ</a>
        <button onclick="document.getElementById('ciaoOrhola'). = 'einstein.jpg'"><a href="/">gyuru6ru6</a></button>
    </body>
</html>