<form action = "/register-profile" >
    <p>
        <b>Nombre :</b>
        <input type = "text" name = "firstName" />
     </p>
     <p>
        <b>Appellido :</b>
        <input type = "text" name = "lastName" />
     </p>
     <p>
        <b>Password :</b>
        <input type = "password" name = "password" />
     </p>
     <p>
        <b>FECHA DE NASCIMENTO :</b>
        <input type = "date" name = "birthdate" />
    </p>
    <p>
        <input type = "submit" value = "REGISTER" />
        </p>
</form>

