<html>
    <head>
        <title>My first page</title>
        <link rel="stylesheet" href="/static/style.css">
        <script src="/static/javascriptfun.js"></script>
    </head>

    <body>
        <div class='color-yellow belu'>
            I'm a division
        </div>
        <div onmouseover="document.getElementById('image2').src = 'static/me_2.jpg'">
            I'm a second division
        </div>
        <span class='belu'>
            I'm a span
        </span>
        <span>
            I'm a second span
        </span>

        <h1 class="color-yellow" id="ciaoOrHola">
            Ciao
        </h1>
        <h2>Ciao</h2>
        <h3>Ciao</h3>
        <h4>Ciao</h4>
        <h5>Ciao</h5>
        <p>Soy flaminia</p>
        <div class="celi" >
            <h1>BELLA</h1>
            <img id='image2' src="https://i.ytimg.com/vi/SfLV8hD7zX4/maxresdefault.jpg" class="image">
        </div>
        <a href="/emer">AQ</a>
        <button id='changeButton' onclick="document.getElementById('ciaoOrHola').className = 'color-red'; document.getElementById('ciaoOrHola').innerHTML = 'Hola!' ">
            CHANGE ME
        </button>
    </body>
</html>